.event_left {
    display: flex;
}

.event_info_code {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.event_info_name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.event_info_date {
    font-size: 13px;
}

.event_container>div>div:nth-child(1)>div>div:nth-child(1)>a {
    padding: 0;
}

.container.event_option {
    height: auto;
    padding: 0;
    max-width: 1140px;
}

.fixed_row {
    margin: 0 15px;
}

.mobile-flex {
    height: 62px;
    padding: 10px;
}

.event-short-info {
    width: 85%;
}