.event-sidebar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em 1em 1em;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11998e, #20b875);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #20b875);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}
.event-sidebar-info div {
    color: #ffffff!important;
}
.row {
    margin: 0!important;
    padding: 0!important;
}
.event-name {
    font-size: 1.4em;
    color: #ffffff;
    font-weight: 700;
}

.event-code {
    font-size: 0.9em;
    color: #fafafa;
}

.switch-event {
    color: #ffffff;
    font-size: 1.3em;
}

.switch-event:hover {
    cursor: pointer;
    font-weight: 700;
}

form {
    width: 100%;
}

form label {
    display: block;
}

#input-question {
    transition: padding .3s, min-height .3s;
    padding: 20px 5%;
    height: 80px;
    width: 100%;
    border: none;
}

.question-form__footer {
    width: 100%;
    background: #ffffff;
    transition: max-height .3s, overflow 0s .3s, opacity .3s;
    max-height: 70px;
    overflow: visible;
    opacity: 1;
    visibility: visible;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f0f0f0;
}

#input-name {
    border: 0;
    width: 100%;
}

.poll-btn, .question-btn {
    height: 32px;
    line-height: 32px;
    margin-left: 5px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #20b875;
    box-sizing: border-box;
    font-weight: 500;
    color: #fff;
    padding: 0 15px;
    min-width: 80px;
    height: 34px;
    line-height: 34px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    font-size: 1.1em;
}

.h1-content {
    font-size: 1.1em;
    color: #999999;
    padding-top: 10px;
    display: block;
}

.input-group,
.content-header {
    margin: 20px auto;
    max-width: 700px;
}

.input-group form {
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 6px;
}

.content-header ul {
    list-style: none;
}

.content-header {
    padding-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    /* align-items: center; */
    line-height: 1;
    height: 53px;
    width: 100%;
    position: relative;
}

ul.content-nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}

ul.content-nav-tabs:after {
    content: "";
    display: table;
    clear: both;
}

ul.content-nav-tabs li>button {
    background-color: transparent;
    padding: 13px;
    font-size: 14px;
    margin: 3px;
    color: #555;
    border: none;
    display: inline-block;
    text-decoration: none;
    font-size: 1.1em;
}

ul.content-nav-tabs li>button.is-selected {
    font-weight: 700;
    border-bottom: 3px solid transparent;
    border-bottom-color: #20b875;
    color: #20b875;
}

.question-list {
    margin: 1% auto;
    max-width: 700px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 6px;
}

.question-container {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding: 20px 40px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}
.reply-btn {
    position: absolute;
    color: #20b875;
    right: 0;
    bottom: 0;
}
.input-username{
    width: 100%;
    border: none;
    padding: 0 15px;
}
.reply-date{
    font-size: 0.9em;
    color: #999;
}
.modal-body {
    max-height: 350px;
    overflow-y: scroll;
}
.question-container:last-of-type {
    border: none;
}

.question-info .question-username {
    font-weight: 700;
    color: #555555;
}

.question-info .question-date {
    font-size: 0.9em;
    color: #999999;
}

.question-info .question-content {
    padding-top: 10px;
}
.main-reply-item {
    padding: 12px 16px 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    -webkit-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}

.reply-item {
    padding: 12px 16px 12px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    -webkit-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
    position: relative;
}

.reply-item .user {
    font-weight: 700;
    color: #555555;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer i {
    margin-left: 10px;
    color: #20b875;
    font-size: 1.5em;
}

.footer i:hover {
    cursor: pointer;
}
.footer {
    padding: 16px 16px 12px 24px;
}
.footer .input-answer {
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #999;
    width: 100%;
    height: 80px;
}
.like-btn {
    border-radius: 50px;
    min-width: 60px;
    background: #ffffff;
    color: #888888;
    border: 1px solid #aaaaaa;
}

.like-btn:hover {
    background: #ffffff;
    color: #20b875;
    border: 1px solid #20b875;
    cursor: pointer;
}


/* .fixtop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
} */

.fixtop+main {
    padding-top: 200px;
}

.switch-event button {
    background-color: hsla(0, 0%, 100%, .16);
    outline-style: none;
    border-radius: 30px;
    padding: 5px 20px;
    color: #ffffff;
    border: none;
}

.switch-event button:hover {
    cursor: pointer;
}

.navbar .container {
    max-width: 700px;
}

.content-nav-tabs button {
    outline-style: none;
}

.content-nav-tabs button:hover {
    cursor: pointer;
    color: #20b875;
    font-weight: 700;
}

.popular-btn .is-selected:parent:parent:parent:parent+div .question-list.popular-question {
    display: none;
}

.display-none {
    display: none;
}

.sidebar-navigation {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    color: #555;
    width: 260px;
    position: fixed;
    z-index: 2;
    transition: 0.5s;
    height: 100%;
    background: #f8fafc;
}

.app {
    position: relative;
}

.toggle-show {
    display: flex;
}

.fa-bars {
    display: none;
}

input,
textarea,
.like-btn,
#submit-btn {
    outline-style: none!important;
}

button:hover {
    cursor: pointer;
}
.navbar_select .container {
    display: flex;
    justify-content: center;
}
.navbar_select .container button {
    height: 60px!important;
    font-size: 1.3em;
}
.question-form-body {
    position: relative;
}
#characters {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    color: #888888;
}
textarea::-webkit-scrollbar {
    width: 3px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.total-answer {
    top:0px;
    right:0px;
    position: absolute;
}
.poll-container {
    max-width: 700px;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
}
.submit-poll-btn {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.submit-poll-btn:hover {
    background: #20b876de;
}
.edit-poll-btn {
    background: #ffffff!important;
    color: #20b875!important;
    border: 1px solid #20b875!important;
}
.edit-poll-btn:hover {
    background: #fefefe!important;
    color: #999999!important;
    border: 1px solid #999999!important;
}
.poll-form-footer {
    justify-content: center;
    border:none;
}
.poll-form-header {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.1em;
}
.poll-form {
    background: #ffffff;
    border-radius: 6px;
}
.poll-form-body {
    padding: 20px 40px;
}
.poll-answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.styled-radio-btn {
    display:inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1.5px solid #999999;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
}
.poll-label {
    position: relative;
    padding-left: 50px;
    font-size: 1.1em;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    background: #f8f8f8;
}
.styled-radio-btn::after {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    background: #20b875;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    display: none;
}
input[type=radio]:checked + label span::after {
    display: initial;
}
input[type=radio]:checked + label span {
    border-color: #20b875;
}
input[type=radio]:checked + label {
    background: #20b87633;
}
input[type=radio] + label:hover {
    cursor: pointer;
}
/* phần này là của checkbox */
.checkbox-label {
    width: 100%;
}
.styled-checkbox {
    display:inline-block;
    height: 25px;
    width: 25px;
    border-radius: 6px;
    border: 1.5px solid #999999;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
}
.styled-checkbox::after {
    content: '';
    height: 20px;
    width: 10px;
    position: absolute;
    border: solid white;
    border-width: 0 4px 5px 0;
    transform: rotate(45deg);
    bottom: 5px;
    left: 8px;
    display: none;
}
input[type=checkbox]:checked + .styled-checkbox::after {
    display: initial;
}
input[type=checkbox]:checked + .styled-checkbox{
    border: none;
    background: #20b875;
}
input[type=checkbox]:checked ~ .checkbox-label {
    background: #20b87633;
}
.checkbox-label:hover {
    cursor: pointer;
}
.poll-result {
    padding: 0px 20px;
    background:#fff;
}
.poll-result-bar {
    background: #20b875;
    border-radius: 20px;
    height: 10px;
    width: 0;
}
.percent {
    color: #555;
    font-size: .9em;
}
.votes {
    color:#20b875;
}
.like-btn.is-liked {
    color: #20b875;
    border: 1px solid #20b875;

}
.dislike-btn.is-disliked {
    color: red;
    border: 1px solid red;

}
@media only screen and (min-width:320px) {
    .navbar_info .container {
        display: none;
    }
    .switch-event {
        display: none;
    }
    .navbar_select .container button {
        font-size: 1.1em;
        padding: 0 30px!important;
    }
    textarea {
        height: 120px;
    }
    .question-container {
        padding: 10px;
    }
    .poll-form-body {
        padding: 10px 5px;
    }
    .poll-label {
        margin-bottom: 10px;
    }
    .poll-form {
        padding-bottom: 10px;
    }
}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {
    .question-container {
        padding: 20px 40px;
    }
    .navbar_select .container button {
        font-size: 1.2em;
        padding: 0 50px!important;
    }
    .poll-form-body {
        padding: 10px 10px;
    }
    .reply-btn {
        right: 30px;
        bottom: 10px;
    }
    .modal-body {
        max-height: 450px;
    }
    .modal-dialog {
        max-width: 600px;
    }
    .input-answer {
        width: 480px!important;
    }
}
@media only screen and (min-width:1024px) {
    .navbar_info .container {
        display: initial;
    }
    .switch-event {
        display: initial;
    }
    .vlask-logo {
        top: 5px;
        right: 500px!important;
        left: 500px!important;
        margin: 0 auto;
    }
    .vlask-logo h1 {
        display: none!important;
    }
    .navbar_info {
        justify-content: space-between;
        padding: 5px 100px !important;
    }
    .switch-event button {
        width: 200px;
        margin-top: 10px;
    }
    .navbar_info .container{
        max-width: 100%!important;
    }
    .poll-form-body {
        padding: 10px 20px;
    }
    .modal-body {
        max-height: 500px;
    }
}
@media only screen and (min-width:1140px) {
    .vlask-logo h1 {
        display: initial!important;
    }
    .poll-form-body {
        padding: 20px 20px;
    }
}
@media only screen and (min-width:1280px) {
    .navbar_info {
        padding: 5px 150px !important;
    }
}

