body{
    font-size: 16px;
    font-family: 'Muli','Helvetical', sans-serif;
    line-height: 1.7;
}
ul{
    list-style: none;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #20b875;
}

.navbar_info{
    background-color: #20b875;
    color: #fff;
}

.navbar_select{
    color: #6cb2eb;
    background: #fff;
    box-shadow: 0px 2px #6c757d6b;
}
.navbar_select ul{
    display: flex;
    padding: 10px 0px;
}

.navbar_select ul li{
    padding-right: 5em;
}

.search_event_form{
    padding: 10px;
}

.user_role {
    font-size: 0.9em;
    color: #fafafa;
}

.links_list a:active {
        border-bottom: 1px solid #20b875;
        color: #20b875;
}
.search_event_form {
    position: relative;
}
.search_event_form input {
    color: #fff;
    background-color: #fff;
    background-color: hsla(0,0%,100%,.16);
    width: 200px;
    height: 36px;
    border: 0;
    border-radius: 100px;
    padding-left: 38px;
    outline-style:none;
}
.search_event_form i.fa.fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
}
.search_event_form input::placeholder {
    color: #fafafa;
}
.row.justify-content-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-cog:hover {
    color: #aaaaaa;
    cursor: pointer;
}

.user_info_container{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
}

.user_header_info {
    margin-right: 20px;
}

#create-event-btn {
    background: #20b875;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 20px;
}
#create-event-btn:hover {
    background: #20b875;
    opacity: 0.8;
}

.event-container {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
}

.event-container:hover {
    background: #fcfcfc;
}

.event-namecode {
    display: flex;
}

.event-container button {
    border: none;
}
.event-container button:hover {
    background: #d0d0d0;
}
.event-container .btn-outline-danger {
    color: #999999;
}


.event-container .btn-outline-success {
    color: #20b875;
}

.event-container .event-name {
    margin-right: 15px;
    font-weight: 700;
}
.event-container .event-name i {
    margin-right: 10px;
}
.event-container .event-code {
    color: #999999;
}

.event-container .event-startend-date {
    color: #aaaaaa;
    font-size: 0.9em;
    padding-top: 5px;
}

.navbar_select .container button {
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    border: 0;
    background-color: transparent;
    color: #000;
    color: rgba(0,0,0,.75);
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    position: relative;
}
.navbar_select .container button:hover {
    color: #20b875;
    cursor: pointer;
}
.navbar_select .container button:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.navbar_select .container button.is-active {
    font-weight: 700;
    color: #20b875;
}
.navbar_select .container button.is-active:before {
    background: #20b875;
}

#vlask-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10%;
}

.form-event-optional {
    display: flex;
    justify-content: space-between;
}
.form-event-optional .checkbox-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-event-optional input {
    width: 20px;
}
.form-event-optional {
    padding-right: 10%;
}