body {
    font-size: 16px;
    font-family: 'Roboto', 'Muli', 'Helvetical', sans-serif;
    line-height: 1.7;
}

ul {
    list-style: none;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #20b875;
}

.navbar_info {
    background-color: #20b875;
    color: #fff;
}

.navbar_select {
    color: #6cb2eb;
    background: #fff;
    box-shadow: 0px 2px #6c757d6b;
}

.navbar_select ul {
    display: flex;
    padding: 10px 0px;
}

.navbar_select ul li {
    padding-right: 5em;
}

.search_event_form {
    padding: 10px 0;
}

.user_role {
    font-size: 0.9em;
    color: #fafafa;
}

.links_list a:active {
    border-bottom: 1px solid #20b875;
    color: #20b875;
}

.search_event_form {
    position: relative;
}

.search_event_form input {
    color: #fff;
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, .16);
    width: 200px;
    height: 36px;
    border: 0;
    border-radius: 100px;
    padding-left: 38px;
    outline-style: none;
}

.search_event_form i.fa.fa-search {
    position: absolute;
    top: 20px;
    left: 10px;
}

.search_event_form input::placeholder {
    color: #fafafa;
}

.row.justify-content-between {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-cog:hover {
    color: #aaaaaa;
    cursor: pointer;
}

.user_info_container {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
}

.user_header_info {
    margin-right: 20px;
}

#create-event-btn {
    background: #20b875;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 20px;
    display: block;
}

.create-event-btn {
    display: flex;
    justify-content: flex-end;
    max-width: 900px;
    margin: 20px auto;
}

#create-event-btn:hover {
    background: #fff;
    /* opacity: 0.8; */
    color: #20b875;
}

.event-container {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    /* position: relative; */
    /* z-index: 0; */
}

.desktop-btn {
    /* position: relative;
    z-index: 2; */
}

.event-container:hover {
    background: #fcfcfc;
}

.event-namecode {
    display: flex;
}

.event-container button {
    border: none;
}

.event-container button:hover {
    background: #d0d0d0;
}

.event-container .btn-outline-danger {
    color: #999999;
}

.event-container .btn-outline-success {
    color: #20b875;
}

.event-container .btn-outline-info {
    color: #000000;
}

.event-container .event-name {
    margin-right: 15px;
    font-weight: 700;
}

.event-container .event-name i {
    margin-right: 10px;
}

.event-container .event-code {
    color: #999999;
}

.event-container .event-startend-date {
    color: #aaaaaa;
    font-size: 0.9em;
    padding-top: 5px;
}

.navbar_select .container button {
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    border: 0;
    background-color: transparent;
    color: #000;
    color: rgba(0, 0, 0, .75);
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    position: relative;
}

.navbar_select .container button:hover {
    color: #20b875;
    cursor: pointer;
}

.navbar_select .container button:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.navbar_select .container button.is-active {
    font-weight: 700;
    color: #20b875;
    outline-style: none;
}

.navbar_select .container button.is-active:before {
    background: #20b875;
}

.vlask-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10%;
}

.form-event-optional {
    display: flex;
    justify-content: space-between;
}

.form-event-optional .checkbox-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-event-optional input {
    width: 20px;
}

.form-event-optional {
    padding-right: 10%;
}

#qr-code-image {
    width: 100%;
}

.modal-body form {
    padding: 5%;
}

.navbar_info .container {
    max-width: 900px;
}

.navbar_select .container {
    max-width: 900px;
}

.event-container {
    max-width: 900px;
    margin: 5px auto;
}

.sidebar-navigation {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    color: #555;
    width: 260px;
    position: fixed;
    z-index: 2;
    transition: 0.5s;
    height: 100%;
    background: #f8fafc;
}

.app {
    position: relative;
}

.sidebar-navigation .sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0 16px;
    margin: 0;
}

.sidebar-navigation .sidebar-nav .nav-item {
    width: 100%;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.sidebar-navigation .sidebar-nav .nav-item a {
    color: #999999!important;
}

.sidebar-navigation .sidebar-nav .nav-item a:hover {
    background: rgba(0, 0, 0, .1);
}

.sidebar-navigation div {
    color: #999999!important;
    /* margin: 0 auto; */
}

.toggle-show {
    display: flex!important;
}

.fa-bars {
    display: none;
}

.event-action-mobile {
    display: none;
    flex-direction: column;
    background: #fafafa;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.1);
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 40px;
}

.event-action-mobile li {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 40px;
}

.toggle-action {
    display: none;
    position: absolute;
    background: #ffffff;
    margin: auto;
    right: 20px;
}

.event-container {
    position: relative;
}

footer {
    left: 100px;
    font-weight: 700;
    color: #555;
}

@media only screen and (max-width:1200px) {
    .navbar_info .container {
        max-width: 600px;
    }
    /* .container {
        max-width: 600px;
    } */
    /* .container.event_container {
        max-width: 960px;
    } */
    .desktop-btn {
        display: none;
    }
    .toggle-action {
        display: initial;
    }
}

@media only screen and (max-width:992px) {
    /* .container {
        max-width: 992px;
    } */
}

@media only screen and (max-width:767.98px) {
    .vlask-logo {
        position: absolute;
        top: 0;
        right: 0;
        width: 130px;
        margin: 0 auto;
    }
    .fa-bars {
        display: initial;
        color: white;
        font-size: 30px;
    }
    .sidebar-toggle {
        display: inline;
        /* padding: 10px; */
        margin: auto;
        padding-left: 10px;
    }
    .user_info_container {
        display: none;
    }
    .navbar_info {
        display: flex;
        padding: 0 20px;
    }
    .row.justify-content-between {
        justify-content: flex-end;
    }
    .search_event_form {
        padding: 0;
    }
    .search_event_form i.fa.fa-search {
        top: 10px;
    }
    .container.event_container>.row>.col-lg-4.col-md-4:nth-child(2),
    .container.event_container>.row>.col-lg-4.col-md-4:nth-child(3),
    .event_container>div>div:nth-child(1)>div>div:nth-child(1) {
        /* text-align: center; */
        display: none;
    }
    .mobile-flex {
        display: flex;
    }
    .fixed_row {
        width: 100%;
    }
    .event_left {
        justify-content: center;
    }
    .flex_content {
        text-align: center;
    }
}

@media only screen and (max-width:575px) {
    .search_event_form input {
        display: none;
    }
    .search_event_form i.fa.fa-search {
        position: static;
    }
}

.sidebar-navigation {
    width: 280px;
    height: 100%;
    position: fixed;
    z-index: 999999;
    top: 0px !important;
    background-color: #fff;
    overflow-x: hidden;
    box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
    visibility: hidden;
    transition: all 0.35s ease;
    transform: translateX(-280px);
}

.opacity_menu.open_opacity {
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px !important;
    left: 0px;
    z-index: 999999;
}

.event_container {
    padding: 10px 0px;
    height: 62px;
}

.event_left {
    display: flex;
}

.event_info_code {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.event_info_name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.event_info_date {
    font-size: 13px;
}

.event_container>div>div:nth-child(1)>div>div:nth-child(1)>a {
    padding: 0;
}

.container.event_option {
    height: auto;
    padding: 0;
    max-width: 1140px;
}

.fixed_row {
    margin: 0 15px;
}